



/* Signup */

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.form-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5%;
  text-align: center;
  margin: auto;
  background: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo {
  max-width: 300px;
  margin-bottom: 5px;
}
.input-container {
  position: relative;
  width: 100%;
  margin: 10px 0;
}
input {
  padding: 15px;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.toggle-password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
}
button {
  padding: 10px;
  width: 90%;
  background: rgba(234, 241, 7, 0.859);
  color: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 10px;
}
.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: #ffffff;
  margin: 0 10px;
}
.divider span {
  font-weight: bold;
  color: #fffafa;
}
.social-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.social-buttons button {
  padding: 10px;
  flex: 1;
  max-width: 48%;
  margin: 0;
  border: none;
  border-radius: 3px;
}
.error {
  color: red;
  margin-top: 10px;
}
.login-link {
  margin-top: 15px;
}
.login-link a {
  color: #ffffff;
  text-decoration: none;
}
.login-link span {
  color: blue;
  font-weight: bolder;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }
  .form-container {
    max-width: 100%;
    padding: 15px;
    border-radius: 10px;
  }
  .logo {
    max-width: 80%;
  }
  input,
  button {
    width: 90%;
  }
  .social-buttons {
    flex-direction: column;
    gap: 5px;
  }
  .social-buttons button {
    max-width: 100%;
    width: 100%;
  }
  .divider::before,
  .divider::after {
    margin: 0 5px;
  }
}
